transformers
datasets
accelerate
peft
trl
bitsandbytes
sentencepiece
safetensors

pandas
numpy==2.0.2
scikit-learn==1.6.1
pyyaml
pyBKT==1.4.3

streamlit==1.60.0
fastapi
uvicorn
pydantic
httpx

pytest
python-dotenv
